@import "_header";

body {
    background-color: rgb(100, 100, 100);
    font-family: sans-serif;
}

canvas {
    background-image: url(../img/setka.png);
    display: block;
    width: 400px;
    height: 200px;
    margin: 50px;
}
